[submodule "connections/tcp"]
	path = connections/tcp
	url = https://github.com/QiuHaohao/tcp.git
[submodule "connections/libs/arrow_finder"]
	path = connections/libs/arrow_finder
	url = https://github.com/QiuHaohao/arrow_finder.git
